@page "/passenger/bookinghistory"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using TransportBookFSD.Data
@using TransportBookFSD.Models
@attribute [Authorize(Roles = "Passenger")]

@inject AppDbContext db
@inject UserManager<ApplicationUser> userManager
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager nav

<h3>Booking History</h3>

@if (!string.IsNullOrEmpty(msg))
{
    <div class="alert alert-info">@msg</div>
}

@if (isLoading)
{
    <p>Loading...</p>
}
else if (history.Count == 0)
{
    <p>No completed bookings found.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Pickup</th>
                <th>Dropoff</th>
                <th>Pickup Time</th>
                <th>Status</th>
                <th>Fare</th>
                <th>Paid At</th>
                <th>Feedback</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < history.Count; i++)
            {
                var b = history[i];

                <tr>
                    <td>@(i + 1)</td>
                    <td>@b.PickupLocation</td>
                    <td>@b.DropoffLocation</td>
                    <td>@b.PickupDateTime.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@b.Status</td>
                    <td>@b.Fare.ToString("0.00")</td>
                    <td>@(b.PaidAt.HasValue? b.PaidAt.Value.ToString("dd/MM/yyyy HH:mm") : "-")</td>
                    <td>
                        @if (feedbackBookingIds.Contains(b.BookingId))
                        {
                            <button class="btn btn-success btn-sm"
                                    @onclick="() => GoFeedback(b.BookingId)">
                                Completed
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary btn-sm"
                                    @onclick="() => GoFeedback(b.BookingId)">
                                Give Feedback
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool isLoading = true;
    private string? msg;

    private List<Booking> history = new();

    private HashSet<int> feedbackBookingIds = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadHistory();
    }

    private void GoFeedback(int bookingId)
    {
        nav.NavigateTo($"/passenger/feedback/{bookingId}");
    }

    private async Task<ApplicationUser?> GetCurrentUser()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        return await userManager.GetUserAsync(authState.User);
    }

    private async Task LoadHistory()
    {
        isLoading = true;
        msg = null;

        var user = await GetCurrentUser();
        if (user == null)
        {
            msg = "Please login again.";
            isLoading = false;
            return;
        }

        history = await db.Bookings
            .Where(b => b.PassengerUserId == user.Id && b.Status == "Completed")
            .OrderByDescending(b => b.PickupDateTime)
            .ToListAsync();

        var ids = await db.Feedbacks
    .Where(f => history.Select(h => h.BookingId).Contains(f.BookingId))
    .Select(f => f.BookingId)
    .ToListAsync();

        feedbackBookingIds = ids.ToHashSet();


        isLoading = false;
    }
}
